.Register_input {
  padding-right: 220px;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #5e5e5e;
}
.h-custom {
  height: calc(100% - 73px);
}
.icon {
  background: rgb(0, 0, 0);
}
.icon:hover {
  background: #dda15e;
  color: white;
}
.register_img {
  display: flex;
  justify-content: center;
}

.submit {
  display: grid;
  justify-content: center;
}
.submit-btn {
  margin: 10px;
  background: #dda15e;
}
.submit-btn:hover {
  background: #909b69;
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
