.logo {
  width: 150px;
  cursor: pointer;
  text-align: center;
}
.logo img {
  width: calc(100% - 53%);
  /* height: auto;
  justify-content: center;
  object-fit: contain;
  margin-top: 10px; */
}
.logo h5 {
  font-weight: 600;
  font-size: 0.8rem;
  color: #bc6c25;
  /* margin-bottom: 0; */
  text-transform: uppercase;
}

.header {
  width: 100%;
  height: 100px;
  line-height: 80px;
  position: fixed;
  background: #fefae0f3;
  top: 0;
  
  /* margin-top: 10px; */

  z-index: 999;
}
.menu a {
  font-weight: 600;
  font-size: 1.1rem;
  color: #bc6c25;
  transition: 0.2s;
}

.menu a:hover {
  color: #283618;
}

.active_menu {
  color: #283618 !important;
}

.cart_icon i,
.user i,
.mobile_menu,
.profile {
  font-size: 1.3rem;
  cursor: pointer;
}

.mobile_menu {
  display: none;
  font-weight: 600;
}
.cart_icon {
  position: relative;
}
.header_sticky {
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 8px -3px red;
}

/* .cart_badge {
  position: absolute;
  top: 20px;
  right: -10px;
  background: red;
  color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
} */
@media only screen and (max-width: 992px) {
  .logo img {
    width: calc(100% - 70%);
  }
  .logo h5 {
    font-size: 0.8rem;
    margin-top: -15px;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #606c3886;
    z-index: 99;
    display: none;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: rgba(255, 255, 255, 0.432);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    z-index: 100;
  }
  .menu a {
    font-family: 0.9rem;
  }
  .mobile_menu {
    display: block;
  }
  .cart_icon i,
  .user i,
  .mobile_menu {
    font-size: 1rem;
  }
  .show_menu {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
}
