.show-Product{
  /* border: 1px solid red; */
  /* border-radius: 15px; */
  display: flex;
  flex-wrap: wrap;
  
}


.product-item {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  /* border: 1px solid rgb(155, 155, 155); */
  transition: 0.2s;
  box-shadow: 2px 2px 7px #523617;
  background:#523617;
  color: #ffffff;

  
}
.product-item-body{
  /* background:rgb(255, 255, 255) */
}
.product-item:hover{

}


@media screen and (max-width: 768px) {
  .product-item {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 568px) {
  .product-item {
    width: 100%;
  }
}